div.About > div.Display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

div.About > div.Display > section {
    width: 55%;
}

div.About > div.Display > div.ImgWrapper {
    width: 45%
}

div.About > div.Display > div.ImgWrapper > img {
    width: 100%;
}

div.About > article > section:first-of-type {
    width: 55%;
    position: relative;
    top: -20vh;
}

ul.Resume {
    margin: 1em;
    padding: 0;
}

ul.Resume > hr {
    width: 20%;
    min-width: 100px;
    color: DimGray;
}

ul.Resume ul {
    padding: 0;
    margin: 0;
}

ul.Resume li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

ul.Resume > li {
    padding-top: 2em;
}

ul.Resume > li > * {
    padding: 0;
    padding-left: 2em;
    padding-right: 2em;
    box-sizing: border-box;
}

ul.Resume > li > h4 {
    text-align: right;
    margin: 0;
    width: 45%
}

ul.Resume > li > ul {
    width: 55%;
}

ul.Resume h4, h5, h6 {
    margin-top: 0;
}

ul.Resume > li > ul > li:last-child {
    padding-bottom: 0;
}

ul.Resume > li > ul > li > section > h4:first-of-type{
    color: black;
    margin-bottom: 0;
}

ul.Resume > li > ul > li > section > * {
    color: DimGray;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 700px) {

    div.About > article > section:first-of-type {
        position: static;
        width: 100%;
    }

    ul.Resume {
        margin-left: 0;
        margin-right: 0;
    }

    ul.Resume li {
        flex-direction: column;
        width: 100%;
    }

    ul.Resume > li > h4 {
        text-align: left;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        /*fix margin?*/
    }

    ul.Resume > li > ul {
        width: 100%;
        padding-left: 1em;
        padding-right: 0;
    }
}

