header {
    position: fixed;
    width: 100%;
    height: 100px;
    max-width: 1920px;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 20;
}

header li {
    list-style-type: none;
    float: left;
}

header > a {
    width: 10rem;
    color: black;
}

header > nav + a {
    font-weight: 700;
    text-align: right;
    color: #F05627;
}

header a.Active {
    color: #F05627;
    font-weight: 700;
}

header a.Inactive {
    color: black;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: inline-block;
    padding: 0;
}

header nav ul.Compressed {
    overflow: hidden;
    height: 0;
    width: 0;
    margin: 0;
}

header nav ul.Expanded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: -1;
    background-color: aqua;
    width: 100%;
    height: 100%;
    margin: auto;
}

header nav li {
    padding-left: 1rem;
    padding-right: 1rem;
}

header button {
    border: none;
    width: 2rem;
    height: 2rem;
    background-color: #F05627;
    color: white;
    font-weight: 700;
}
