div.Contact > div.Display {
    display: grid;
    grid-template-columns: 50% auto 45%;
}

@media (max-width: 700px) {
    div.Contact > div.Display {
        display: flex;
        flex-direction: column;
    }

    div.Contact > div.Display > section {
        padding-top: 10vh;
        padding-bottom: 3rem;
        min-height: fit-content;
    }
}

div.Contact > div.Display > section {
    grid-column: 1 / span 1;
}

div.Contact > div.Display > section > p {
    position: relative;
    z-index: 10;
}

div.Contact > div.Display > form {
    grid-column: -2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

div.Contact > div.Display > form > input, textarea {
    font-family: 'Cousine', serif;
    margin-bottom: 1rem;
    font-size: 14pt;
    color: gray;
    border: none;
    background-color: Gainsboro;
}

div.Contact > div.Display > form > label {
    padding-bottom: 5px;
}

div.Contact > div.Display > form > input[type=submit] {
    width: 5rem;
    color: black;
    font-weight: bold;
}

div.Contact > div.Display > form > input.ReqDescription {
    box-sizing: border-box;
}
