@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Playfair+Display+SC:wght@700&display=swap');

html, body, #root, .App { height: 100% }

body {
    font-family: 'Cousine', serif;
    color: white;
    font-size: 14pt;
    margin: 0;
}

h1, h2 { font-family: 'Playfair Display SC', serif; }

h3 { font-size: 14; }
h4 { font-size: 12; }

a { text-decoration: none; }

div.Body {
    box-sizing: border-box;
    position: fixed;
    top: 98px;
    padding-left: 4rem;
    padding-right: 4rem;
    bottom: 0;
    width: 100%;
    max-width: 1920px;
    color: black;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/*Styling for Display banners*/
div.Display {
    padding-top: 30vh;
    box-sizing: border-box;
    min-height: calc(100vh - ( 98px ));
}

div.Display a {
    font-family: 'Cousine', serif;
    text-decoration: none;
    color: #F05627;
    font-weight: 700;
}

div.Display > div.ImgWrapper > img {
    padding-top: 1em;
}

div.Display > section {
    padding-right: 1em;
    box-sizing: border-box;
}

div.Display > div.ImgWrapper {
    padding-left: 1em;
    padding-top: 1em;
    box-sizing: border-box;
    max-width: 500px;
    }

div.Display > section > * {
    width: 100%;
    margin: 0;
    margin-right: 2em;
}

div.Display > section:first-of-type > p:first-of-type {
    padding-left: 1em;
}

div.Display > section > h1 {
    font-size: calc(30px + 100 * ( 100vw / 1920 ));
    font-weight: 700;
    line-height: .8em;
}

@media (max-width: 700px) {
    div.Body {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    div.Display {
        flex-direction: column !important;
        align-items: center !important;
        min-height: fit-content !important;
        padding-top: 0 !important;
    }

    div.Display > section {
        min-height: calc(100vh - 98px);
        padding-top: 30vh;
    }

    div.Display > section, div.ImgWrapper {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    div.Display > section > p, h1 {
        width: 100% !important;
    }

    div.Display > section:first-of-type > p:first-of-type {
        padding-left: 0;
    }
}
