/*-----------------------------------*/
/*---------List Project View---------*/
/*-----------------------------------*/
ul.Cards {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 2em;
}

li.Card {
    padding-bottom: 30px;
    padding-top: 30px;
    list-style-type: none;
    width: 55%;
    align-self: flex-end;
}

@media (max-width: 700px) {
    li.Card {
        width: 100%;
    }

    ul.ProjectList {
        padding: 0;
    }
}

li.Card:nth-child(2n) {
    align-self: flex-start;
}

li.Card img {
    display: block;
    width: 100%;
}

li.Card h3 {
    margin-bottom: 0;
}

a {
    color: black;
}

li.Card > section > * {
    margin: 0;
}
/*-----------------------------------*/
/*--------Detail Project View--------*/
/*-----------------------------------*/
div.Block {
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: calc(100vh - ( 98px ));
    max-height: fit-content;
    padding-top: 2em;
    padding-bottom: 2em;
}

div.Block {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

div.Block > div.Photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.Block> div.Photos > div.ImgWrapper {
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.Block > div.Photos > div.ImgWrapper > img {
    max-width: 100%;
}

@media (max-width: 700px) {
    div.Block {
        display: flex !important;
        min-height: fit-content !important;
    }
}

/*-----------------------------------*/
/*--Styling Big Chapter/Attribute----*/
/*-----------------------------------*/
div.Block.BigChapter > div.Chapters {
    display: grid;
    grid-template-columns: auto 53% auto;
    align-items: center;
}

div.Block.BigChapter > div.Chapters > section {
    grid-column: 2 / span 1;
}

@media (max-width: 700px) {
    div.Block.BigChapter > div.Chapters {
        display: flex;
    }
}

/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

/*-----------------------------------*/
/*----Styling Chapter & Attribute----*/
/*-----------------------------------*/
div.Block.ChapterAndAttribute {
    display: grid;
    grid-template-columns: 6% 17.5% 17.5% 6% 6% 6% 17.5% 17.5% 6%;
    align-items: center;
}

div.Block.ChapterAndAttribute > :nth-child(1) {
    grid-column: 2 / span 2;
}

div.Block.ChapterAndAttribute > :nth-child(2) {
    grid-column: 7 / span 2;
}

div.Block.ChapterAndAttribute > ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: min(50%,12rem) min(50%,12rem);
    grid-template-rows: 50% 50%;
}

div.Block.ChapterAndAttribute ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 700px) {
    div.Block.ChapterAndAttribute {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    div.Block.ChapterAndAttribute > div, ul {
        display: flex;
        flex-direction: column;
    }

    div.Block.ChapterAndAttribute > div.Chapters > section {
        padding: 0 !important;
    }

    div.Block.ChapterAndAttribute > div.Chapters > section > ul {
        justify-items: start;
    }

}
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

/*-----------------------------------*/
/*----Styling Chapter & Attribute----*/
/*-----------------------------------*/

div.Block.TwoChapters > div.Chapters {
    display: grid;
    grid-template-columns: 6% 17.5% 17.5% 6% 6% 6% 17.5% 17.5% 6%;
    align-items: start;
}

div.Block.TwoChapters > div.Chapters > :nth-child(1) {
    grid-column: 2 / span 2;
}

div.Block.TwoChapters > div.Chapters > :nth-child(2) {
    grid-column: 7 / span 2;
}
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

/*-----------------------------------*/
/*--Styling Many Chapters------------*/
/*-----------------------------------*/
div.Block.ManyChapters > div.Chapters {
    display: inline;
    column-count: 2;
    column-gap: 18%;
    column-width: 35%;
    padding-left: 6%;
    padding-right: 6%;
}

@media (max-width: 700px) {
    div.Block.ManyChapters > div.Chapters {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
}
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

/*-----------------------------------*/
/*--Styling Chapter And Photo block--*/
/*-----------------------------------*/
div.Block.ChapterAndPhoto {
    display: grid;
    grid-template-columns: 6% 17.5% 17.5% 6% 6% 6% 17.5% 17.5% 6%;
    grid-template-rows: 0% 100%;
    align-items: center;
}

div.Block.ChapterAndPhoto > div {
    grid-row: 1 / -1;
}
    

div.Block.ChapterAndPhoto:nth-child(odd) > div.Chapters {
    grid-column: 2 / span 2;
}

div.Block.ChapterAndPhoto:nth-child(odd) > div.Photos {
    grid-column: 5 / span 6;
}

div.Block.ChapterAndPhoto:nth-child(even) > div.Chapters {
    grid-column: -4 / span 2;
}

div.Block.ChapterAndPhoto:nth-child(even) > div.Photos {
    grid-column: 1 / span 5;
}

@media (max-width: 700px) {
    div.Block.ChapterAndPhoto {
        display: flex;
        flex-direction: column;
    }

    div.Block.ChapterAndPhoto > div {
        padding: 0 !important;
    }
}
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

/*-----------------------------------*/
/*--Styling Chapter and Flex block---*/
/*-----------------------------------*/
div.Block.ChapterAndFlexPhotos {
    display: grid;
    grid-template-columns: 70% auto 30%;
    grid-template-rows: 1fr;
    align-items: start;
}

div.Block.ChapterAndFlexPhotos > div.Chapters {
    grid-column: -2 / span 1;
    grid-row: 1 /span 1;
    padding-left: 1em;
}

div.Block.ChapterAndFlexPhotos > div.Photos {
    margin-top: 1.5rem;
    grid-column: 1 / span 1;
    grid-row: 1 /span 1;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    max-height: calc(100vh - ( 98px ));
    box-sizing: border-box;
}

div.Block.ChapterAndFlexPhotos > div.Photos > div.ImgWrapper {
    max-height: calc(100vh - ( 98px ));
    min-height: fit-content !important;
    padding-bottom: 2em;
    padding-top: 2em;
    box-sizing: border-box;
}

@media (max-width: 700px) {
    div.Block.ChapterAndFlexPhotos {
        display: flex;
        flex-direction: column;
        min-height: fit-content !important;
    }

    div.Block.ChapterAndFlexPhotos > div {
        padding: 0 !important;
        max-height: fit-content !important;
        overflow-y: hidden !important;
    }

    /*div.Block.ChapterAndFlexPhotos > div.Photos {*/
        /*display: */
    /*}*/

    div.Block.ChapterAndFlexPhotos > div.Photos > div.ImgWrapper {
        min-height: fit-content !important;
    }
}
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

